NumberApp/Connected Services/numberServices/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="secretNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min" type="xs:int" />
        <xs:element minOccurs="0" name="max" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="secretNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="secretNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userNum" type="xs:int" />
        <xs:element minOccurs="0" name="secretNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkNumberResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>